rails<!DOCTYPE html>
<html>
  <head>
    <title>medical crm</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag('search_logo.png') %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0,viewport-fit=cover">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDRP_XBYSn09Udg6vRUEimQtbeHFRSSYM4"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="manifest" href="/manifest.json" />
    <link rel="apple-touch-icon" href="<%= image_path "search_logo.png" %>" sizes="120x120"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
  </head>

  <body class="home_body">
    <input type="hidden" id="user_name" value="<%= @name %>">
    <input type="hidden" id="clt_id" value="<%= @clt_id %>">
    <div id="help_tips_pop">
    </div>

    <div class="header_base" id="header_base">
      <div class="left_header">
        <a href="/home" class="logo_base inline">
          <div class="icon_base inline"><img src="<%= image_path "search_logo.png" %>" alt=""></div>
          <div class="text_base inline">Medical CRM</div>
        </a>

        <label class="text_overflow inline" for="acounts_modal_input">
          <%= @inc_name %>
        </label>
        <% if @name == "msd_system_master" %>
        <div class="n_l_b inline">
          <input type="checkbox" id="acounts_modal_input">
          <div class="acount_modal inline" id="acount_modal">
            <div class="cover" id="acount_cover">
              <div class="loading_base inline">
                <i class="fad fa-spinner-third fa-spin"></i>
              </div>
            </div>
            <%= form_tag("/change_acount",{method:"POST",autocomplete:"off"}) do %>
            <div class="title">アカウントの切り替え</div>
            <div class="select_box">
              <select name="acount_select" id="acount_select"></select>
              <div class="icon_base">
                <i class="fas fa-caret-down"></i>
              </div>
            </div>
            <div class="btn_base">
              <button type="submit">切り替える</button>
            </div>
            <% end %>
          </div>
        </div>
        <% end %>

        <div class="page_ttl_base inline" id="page_ttl_base">
          <div class="icn inline">
            <i class="fas fa-home"></i>
          </div>
          ホーム
        </div>
      </div>

      <div class="n_r_b inline">
        <a href="/home">
          <div class="cell cell_big inline">
            <input type="hidden" name="header_input_">
            <label><i class="fas fa-home"></i></label>
          </div>
        </a>
        <!--
        <div class="cell cell_big inline">
          <input type="radio" name="header_input_" id="header_input_0">
          <label for="header_input_0">
            <i class="fas fa-search"></i>
            <div class="text inline">何をお探しですか？</div>
          </label>
          <div class="modal">
            <form class="search_form">
              <div class="icon inline">
                <input type="submit" id="search_icon_submit">
                <label for="search_icon_submit">
                  <i class="fas fa-search"></i>
                </label>
              </div>
              <div class="input inline">
                <input type="search" name="" value="">
              </div>
            </form>
          </div>
        </div>
        -->
        <div class="cell cell_big inline">
          <input type="radio" name="header_input_" id="header_input_1">
          <label for="header_input_1">
            <i class="fas fa-cogs"></i>
            <div class="text inline">設定</div>
          </label>
          <ul class="modal modal_ul">
            <a href="/mission" target="_blank"><li><i class="fas fa-flag"></i> 目標を設定する</li></a>
            <a href="/keyword" target="_blank"><li><i class="fas fa-sitemap"></i> キーワードの作成</li></a>
            <a href="/calendar" target="_blank"><li><i class="fas fa-calendar-alt"></i> 営業日設定</li></a>
          </ul>
        </div>
        <div class="cell inline">
          <input type="radio" name="header_input_" id="header_input_2">
          <label for="header_input_2">
            <i class="fas fa-user"></i>
            <div class="text inline"><%= @name %></div>
            <i class="fas fa-caret-down"></i>
          </label>
          <div class="modal">
            <%= link_to('/logout_action',{method:"POST"}) do %>
            <button type="submit" class="logout">
              ログアウト
              <i class="fas fa-power-off"></i>
            </button>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="left_bar_base home_left">
      <div class="pc_left">
        <input type="checkbox" name="left_input_" id="left_input_0" checked>
        <label for="left_input_0">
          <div class="box">
            <div class="text">概要</div>
            <div class="icon"></div>
          </div>
        </label>
        <div class="modal_menu">
          <a href="/summary">
            <div class="cell cell_box">
              <i class="fas fa-desktop"></i> 概要
            </div>
          </a>
          <div class="cell cell_grid_box cell_1x3_box">
            <a href="/achieve_summary">
              <div class="cell inline">
                <i class="fas fa-list"></i>
              </div>
            </a>
            <a href="/remarkable_points">
              <div class="cell inline">
                <i class="fas fa-lightbulb-on"></i>
              </div>
            </a>
            <a href="/achieve_analytics?bt=2">
              <div class="cell inline">
                <i class="fas fa-folders"></i>
              </div>
            </a>
          </div>
          <a href="/trends_line?s_type=1">
            <div class="cell cell_box">
              <i class="fas fa-analytics"></i> トレンド比較
            </div>
          </a>
          <div class="cell cell_grid_box cell_1x2_box">
            <a href="/sales_forecast?s_type=1">
              <div class="cell inline">
                <i class="fas fa-forward"></i> 売上予測
              </div>
            </a>
            <a href="/custom_field">
              <div class="cell inline">
                <i class="fas fa-cubes"></i> カスタム
              </div>
            </a>
          </div>
        </div>
        <input type="checkbox" name="left_input_" id="left_input_1" checked>
        <label for="left_input_1">
          <div class="box">
            <div class="text">成績分析</div>
            <div class="icon"></div>
          </div>
        </label>
        <div class="modal_menu">
          <a href="/achieve_analytics">
            <div class="cell cell_box">
              <i class="fas fa-globe"></i> 管轄院
            </div>
          </a>
          <div class="cell cell_grid_box cell_1x3_box">
            <a href="/achieve_analytics?st=1">
              <div class="cell inline">
                <i class="fas fa-map-marked-alt"></i>
              </div>
            </a>
            <a href="/achieve_analytics?st=2">
              <div class="cell inline">
                <i class="fas fa-clinic-medical"></i>
              </div>
            </a>
            <a href="/achieve_analytics?st=3">
              <div class="cell inline">
                <i class="fas fa-user-tie"></i>
              </div>
            </a>
          </div>
          <div class="cell cell_grid_box cell_1x2_box">
            <a href="/achieve_analytics?st=0&bt=3&mt=4">
              <div class="cell inline">
                <i class="fas fa-file-alt"></i> メニュー
              </div>
            </a>
            <a href="/achieve_analytics?st=0&bt=3&mt=3">
              <div class="cell inline">
                <i class="fab fa-amilia"></i> キーワード
              </div>
            </a>
          </div>
          <a href="/random_stome">
            <div class="cell cell_box">
              <i class="fad fa-random"></i> ランダムクエリ
            </div>
          </a>
        </div>
        <input type="checkbox" name="left_input_" id="left_input_2" checked>
        <label for="left_input_2">
          <div class="box">
            <div class="text">顧客分析</div>
            <div class="icon"></div>
          </div>
        </label>
        <div class="modal_menu">
          <a href="/customer_analytics">
            <div class="cell cell_box">
              <i class="fad fa-braille"></i> 顧客グラフ分析
            </div>
          </a>
          <a href="/achieve_analytics?st=0&bt=5">
            <div class="cell cell_box">
              <i class="fas fa-sync-alt"></i> 継続者分析
            </div>
          </a>
          <div class="cell cell_grid_box cell_1x2_box">
            <a href="/achieve_analytics?st=0&bt=6">
              <div class="cell inline">
                <i class="fas fa-exclamation-triangle"></i> 離脱分析
              </div>
            </a>
            <a href="/customer_search">
              <div class="cell inline">
                <i class="fas fa-search"></i> アプローチ
              </div>
            </a>
          </div>
        </div>
        <input type="checkbox" name="left_input_" id="left_input_3">
        <label for="left_input_3">
          <div class="box">
            <div class="text">システム</div>
            <div class="icon"></div>
          </div>
        </label>
        <div class="modal_menu">
          <a href="/mission" target="_blank">
            <div class="cell cell_box">
              <i class="fas fa-flag"></i> 目標設定
            </div>
          </a>
          <a href="/keyword" target="_blank">
            <div class="cell cell_box">
              <i class="fas fa-sitemap"></i> キーワード
            </div>
          </a>
          <a href="/calendar" target="_blank">
            <div class="cell cell_box">
              <i class="fas fa-calendar-alt"></i> 営業日
            </div>
          </a>
        </div>
      </div>
      <div class="sp_left">
        <a href="/home">
          <div class="box" data-title="ホーム">
            <i class="fas fa-home"></i>
          </div>
        </a>
        <a href="/summary">
          <div class="box" data-title="概要">
            <i class="fas fa-desktop"></i>
          </div>
        </a>
        <a href="/achieve_summary">
          <div class="box" data-title="リスト">
            <i class="fas fa-list"></i>
          </div>
        </a>
        <a href="/remarkable_points">
          <div class="box" data-title="重要指標">
            <i class="fas fa-lightbulb-on"></i>
          </div>
        </a>
        <a href="/custom_field">
          <div class="box" data-title="カスタム">
            <i class="fas fa-cubes"></i>
          </div>
        </a>
        <a href="/achieve_analytics">
          <div class="box" data-title="管轄">
            <i class="fas fa-globe"></i>
          </div>
        </a>
        <a href="/customer_analytics">
          <div class="box" data-title="顧客グラフ">
            <i class="fad fa-braille"></i>
          </div>
        </a>
        <a href="/achieve_analytics?st=0&bt=5">
          <div class="box" data-title="継続">
            <i class="fas fa-sync-alt"></i>
          </div>
        </a>
        <a href="/achieve_analytics?st=0&bt=6">
          <div class="box" data-title="離脱">
            <i class="fas fa-exclamation-triangle"></i>
          </div>
        </a>
        <a href="/customer_search">
          <div class="box" data-title="顧客検索">
            <i class="fas fa-search"></i>
          </div>
        </a>
        <%= link_to('/logout_action',{method:"POST"}) do %>
        <div class="box" data-title="Log out">
          <i class="fas fa-power-off" style="color:red;"></i>
        </div>
        <% end %>
      </div>
    </div>

    <% if flash[:notice_pos] %>
      <div class="flash_success">
        <div class="time">今</div>
        <div class="details">
          <div class="left">
            <img class="login_bg_image" src="<%= asset_path "search_logo.png" %>">
          </div>
          <div class="right">
            <div class="top">
              Medical CRM
            </div>
            <div class="bottom">
              <%= flash[:notice_pos] %>
            </div>
          </div>
        </div>
      </div>
      <script type="text/javascript">
        $('.flash_success').fadeIn(300);
        setTimeout(() => {$('.flash_success').remove();},4000);
      </script>
    <% end %>

    <% if flash[:notice_nega] %>
      <div class="flash_failed">
        <div class="content"><%= flash[:notice_nega] %></div>
      </div>

      <script type="text/javascript">
        $('.flash_failed').fadeIn(300);
        setTimeout(() => {$('.flash_failed').remove();},4000);
      </script>
    <% end %>

    <%= yield %>

    <script type="text/javascript">
      Chart.defaults.crossed_lines = Chart.defaults.line;
      Chart.controllers.crossed_lines = Chart.controllers.line.extend({
        draw: function(ease) {
          Chart.controllers.line.prototype.draw.call(this, ease);

          if (this.chart.tooltip._active && this.chart.tooltip._active.length) {
            var activePoint = this.chart.tooltip._active[0],
            ctx = this.chart.ctx,
            x = activePoint.tooltipPosition().x,
            topY = this.chart.scales['y-axis-0'].top,
            bottomY = this.chart.scales['y-axis-0'].bottom;
            ctx.save();
            ctx.beginPath();
            ctx.moveTo(x, topY);
            ctx.lineTo(x, bottomY);
            ctx.lineWidth = 1;
            ctx.strokeStyle = `#ddd`;
            ctx.stroke();
            ctx.restore();
          }
        }
      });

      Chart.helpers.drawRoundedTopRectangle = function(ctx, x, y, width, height, radius) {
        ctx.beginPath();
        ctx.moveTo(x + radius, y);
        // top right corner
        ctx.lineTo(x + width - radius, y);
        ctx.quadraticCurveTo(x + width, y, x + width, y + radius);
        // bottom right	corner
        ctx.lineTo(x + width, y + height);
        // bottom left corner
        ctx.lineTo(x, y + height);
        // top left
        ctx.lineTo(x, y + radius);
        ctx.quadraticCurveTo(x, y, x + radius, y);
        ctx.closePath();
      };
      Chart.elements.RoundedTopRectangle = Chart.elements.Rectangle.extend({
        draw: function() {
          var ctx = this._chart.ctx;
          var vm = this._view;
          var left, right, top, bottom, signX, signY, borderSkipped;
          var borderWidth = vm.borderWidth;

          if (!vm.horizontal) {
            left = vm.x - vm.width / 2;
            right = vm.x + vm.width / 2;
            top = vm.y;
            bottom = vm.base;
            signX = 1;
            signY = bottom > top? 1: -1;
            borderSkipped = vm.borderSkipped || 'bottom';
          } else {
            left = vm.base;
            right = vm.x;
            top = vm.y - vm.height / 2;
            bottom = vm.y + vm.height / 2;
            signX = right > left? 1: -1;
            signY = 1;
            borderSkipped = vm.borderSkipped || 'left';
          }

          if (borderWidth) {
            var barSize = Math.min(Math.abs(left - right), Math.abs(top - bottom));
            borderWidth = borderWidth > barSize? barSize: borderWidth;
            var halfStroke = borderWidth / 2;
            var borderLeft = left + (borderSkipped !== 'left'? halfStroke * signX: 0);
            var borderRight = right + (borderSkipped !== 'right'? -halfStroke * signX: 0);
            var borderTop = top + (borderSkipped !== 'top'? halfStroke * signY: 0);
            var borderBottom = bottom + (borderSkipped !== 'bottom'? -halfStroke * signY: 0);
            if (borderLeft !== borderRight) {
              top = borderTop;
              bottom = borderBottom;
            }
            if (borderTop !== borderBottom) {
              left = borderLeft;
              right = borderRight;
            }
          }
          var barWidth = Math.abs(left - right);
          var roundness = this._chart.config.options.barRoundness || 0.5;
          var radius = barWidth * roundness * 0.5;
          var prevTop = top;
          top = prevTop + radius;
          var barRadius = top - prevTop;

          ctx.beginPath();
          ctx.fillStyle = vm.backgroundColor;
          ctx.strokeStyle = vm.borderColor;
          ctx.lineWidth = borderWidth;

          Chart.helpers.drawRoundedTopRectangle(ctx, left, (top - barRadius + 1), barWidth, bottom - prevTop, barRadius);

          ctx.fill();
          if (borderWidth) {
            ctx.stroke();
          }
          top = prevTop;
        },
      });
      Chart.defaults.rounded_bar = Chart.helpers.clone(Chart.defaults.bar);
      Chart.controllers.rounded_bar = Chart.controllers.bar.extend({
        dataElementType: Chart.elements.RoundedTopRectangle
      });
    </script>
    <script>
      (() => {
        if (location.host == "crm-dev.net") {
          let header = document.getElementById("header_base");
          header.style.backgroundColor = '#84a2d4'; 
        }
      })();
    </script>
  </body>
</html>
